DEBUG=1
SECRET_KEY=DUMMY
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=DUMMY
SQL_USER=DUMMY
SQL_PASSWORD=DUMMY
SQL_HOST=db
SQL_PORT=5432
DJANGO_SETTINGS_MODULE=route_optimizer.settings
GOOGLE_MAPS_API=
REJESTRIO_API_KEY=