astroid==2.3.1
autopep8==1.4.4
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
Django==2.2.8
django-appconf==1.0.3
django-cors-headers==3.1.1
django-filter==2.2.0
django-grappelli==2.13.2
djangorestframework==3.10.3
djangorestframework-jwt==1.11.0
ecdsa==0.14.1
future==0.18.2
gunicorn==19.9.0
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.2
Markdown==3.1.1
mccabe==0.6.1
psycopg2-binary==2.8.3
pyasn1==0.4.8
pycodestyle==2.5.0
pycparser==2.19
PyJWT==1.7.1
pylint==2.4.2
pylint-django==2.0.12
pylint-plugin-utils==0.6
python-jose==3.0.1
pytz==2019.2
requests==2.22.0
rsa==4.0
six==1.12.0
sqlparse==0.3.0
typed-ast==1.4.0
urllib3==1.25.6
whitenoise==4.1.4
wrapt==1.11.2
